<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
  </head>
  <body>
    <header>
      <h1>Admin</h1>
      <p>Welcome <%= login %></p>
    </header>
    <main>
      <form action="/boyko_vyhid" method="post">
        <button type="submit">Log Out</button>
      </form>

      <hr />
      <h2>Edit main phone</h2>
      <form action="/admin/edit_main_phone" method="post">
        <input
          type="text"
          name="new_phone"
          placeholder="Enter new phone number"
          value="<%= mainPhones %>"
        />

        <button type="submit">Edit</button>
      </form>
      <hr />

      <hr />
      <h2>Edit main email</h2>
      <form action="/admin/edit_main_email" method="post">
        <input
          type="text"
          name="new_email"
          placeholder="Enter new email"
          value="<%= mainEmails %>"
        />

        <button type="submit">Edit</button>
      </form>
      <hr />

      <hr />
      <h2>Edit instagram</h2>
      <form action="/admin/edit_inst" method="post">
        <input type="text" name="new_inst" placeholder="Enter new instagram" value="<%= insts %>" />

        <button type="submit">Edit</button>
      </form>
      <hr />

      <hr />
      <h2>Edit facebook</h2>
      <form action="/admin/edit_fb" method="post">
        <input
          type="text"
          name="new_fb"
          placeholder="Enter new facebook"
          value="<%= facebooks %>"
        />

        <button type="submit">Edit</button>
      </form>
      <hr />

      <!-- <form action="/admin/add" method="post">
        <input type="text" name="inst" placeholder="Enter new address" />

        <button type="submit">add</button>
      </form> -->
    </main>
  </body>
</html>
