<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
  </head>
  <body>
    <header>
      <h1>Admin</h1>
      <p>Welcome <%= login %></p>
    </header>
    <main>
      <form action="/boyko_vyhid" method="post">
        <button type="submit">Log Out</button>
      </form>

      <hr />
      <h2>Edit main phone</h2>
      <form action="/admin/edit_main_phone" method="post">
        <input
          type="text"
          name="new_phone"
          placeholder="Enter new phone number"
          value="<%= mainPhones %>"
        />

        <button type="submit">Edit</button>
      </form>
      <hr />

      <hr />
      <h2>Edit main email</h2>
      <form action="/admin/edit_main_email" method="post">
        <input
          type="text"
          name="new_email"
          placeholder="Enter new email"
          value="<%= mainEmails %>"
        />

        <button type="submit">Edit</button>
      </form>
      <hr />

      <hr />
      <h2>Edit instagram</h2>
      <form action="/admin/edit_inst" method="post">
        <input type="text" name="new_inst" placeholder="Enter new instagram" value="<%= insts %>" />

        <button type="submit">Edit</button>
      </form>
      <hr />

      <hr />
      <h2>Edit facebook</h2>
      <form action="/admin/edit_fb" method="post">
        <input
          type="text"
          name="new_fb"
          placeholder="Enter new facebook"
          value="<%= facebooks %>"
        />

        <button type="submit">Edit</button>
      </form>
      <hr />

      <hr />
      <h2>Edit transfer phone</h2>
      <form action="/admin/edit_transfer_phone" method="post">
        <input
          type="text"
          name="new_transfer_phone"
          placeholder="Enter new transfer phone"
          value="<%= transferPhones %>"
        />

        <button type="submit">Edit</button>
      </form>
      <hr />

      <hr />
      <h2>Edit contacts</h2>
      <form action="/admin/edit_contacts" method="post">
        <input type="text" name="address" placeholder="Enter new address" value="<%= address %>" />
        <input
          type="text"
          name="postcode"
          placeholder="Enter new postcode"
          value="<%= postcode %>"
        />
        <input type="text" name="email" placeholder="Enter new email" value="<%= email %>" />
        <input type="text" name="phone" placeholder="Enter new phone" value="<%= phone %>" />

        <button type="submit">Edit</button>
      </form>
      <hr />

      <hr />
      <hr />
      <h2>Додати послугу</h2>
      <form action="/admin/addServices" method="post" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="Enter title" required />
        <br />

        <h5>Будь ласка виберіть фото (jpg/png/jpeg)</h5>
        <input type="file" name="avatar" />
        <br />
        <input type="number" name="show_price" placeholder="Enter show price" required />
        <br />
        <textarea
          rows="5"
          cols="45"
          name="description"
          id="description"
          minlength="1"
          maxlength="500"
          placeholder="Тут ви можете розказати більше про цю послугу але максимум в 500 символів"
          required
        ></textarea>
        <br />
        <input type="text" name="category_1" placeholder="Enter category" required />
        <br />
        <input type="number" name="price_per_hour_1" placeholder="Enter price per hour" required />
        <br />
        <input type="number" name="price_per_day_1" placeholder="Enter price per day" required />
        <br />
        <input type="text" name="category_2" placeholder="Enter category 2" />
        <br />
        <input type="number" name="price_per_hour_2" placeholder="Enter price per hour 2" />
        <br />
        <input type="number" name="price_per_day_2" placeholder="Enter price per day 2" />
        <br />
        <input type="text" name="category_3" placeholder="Enter category 3" />
        <br />
        <input type="number" name="price_per_hour_3" placeholder="Enter price per hour 3" />
        <br />
        <input type="number" name="price_per_day_3" placeholder="Enter price per day 3" />
        <br />
        <button type="submit">Add</button>
      </form>
      <hr />
      <hr />

      <hr />
      <h2>Всі послуги</h2>
      <table>
        <tr>
          <th>img</th>
          <th>title</th>
          <th>show_price</th>
          <th>description</th>
          <th>category1</th>
          <th>price_per_hour1</th>
          <th>price_per_day1</th>
          <th>category2</th>
          <th>price_per_hour2</th>
          <th>price_per_day2</th>
          <th>category3</th>
          <th>price_per_hour3</th>
          <th>price_per_day3</th>
          <th>delete</th>
        </tr>
        <% services.forEach((service) => { %>
        <tr>
          <td>
            <img
              src="<%= service.img %>"
              alt="Service Image"
              style="max-width: 100px; max-height: 100px"
            />
          </td>
          <td><%= service.title %></td>
          <td><%= service.show_price %></td>
          <td><%= service.description %></td>
          <td><%= service.category_1 %></td>
          <td><%= service.price_per_hour_1 %></td>
          <td><%= service.price_per_day_1 %></td>
          <td><%= service.category_2 %></td>
          <td><%= service.price_per_hour_2 %></td>
          <td><%= service.price_per_day_2 %></td>
          <td><%= service.category_3 %></td>
          <td><%= service.price_per_hour_3 %></td>
          <td><%= service.price_per_day_3 %></td>
          <td>
            <form action="/admin/deleteService" method="post">
              <input type="hidden" name="id" value="<%= service.id %>" />
              <input type="hidden" name="img" value="<%= service.img %>" />
              <button type="submit">Delete</button>
            </form>
          </td>
        </tr>
        <% }); %>
      </table>
    </main>
  </body>
</html>
