<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=1"
    />
    <link rel="stylesheet" href="/css/attraction.css" />
    <link rel="shortcut icon" href="/image/logo-icon.png" type="image/x-icon" />
    <meta name="description" content="Безкоштовні туристичні маршрути горами Бойківщини" />
    <meta
      name="keywords"
      content="екотуризм, походи в гори, мандри, піший туризм, вело туризм , Бойківщина, Карпати, бойко мандри, бойкомандри, Бойкомандри, Бойко Мандри, БойкоМандри, піший маршрут, веломаршрут"
    />
    <title>БойкоМандри</title>
    <title>Безкоштовні туристичні маршрути горами Бойківщини</title>
  </head>
  <header>
    <div id="container-header" class="container-header">
      <div class="logo">
        <a href="/"><img src="/image/logo.svg" alt="logo" /></a>
      </div>
      <div class="navigation">
        <div class="navigation__item">
          <ul>
            <a class="navigation__item__1" href="/routes">
              <li class="routes">Поїздки</li>
            </a>
            <a class="navigation__item__2" href="/services">
              <li class="services">Послуги</li>
            </a>
            <a class="navigation__item__3" href="/contacts">
              <li class="contacts">Контакти</li>
            </a>
          </ul>
        </div>
        <div class="language-change">
          <img
            loading="lazy"
            class="language-change__image-earth"
            src="/image/language.svg"
            alt="earth"
          />
          <!-- <p class="language-change__layout">Ua</p> -->
          <div class="custom-select">
            <div class="select-trigger"></div>
            <ul class="select-options">
              <li data-value="Ua">Ua</li>
              <li data-value="Pol">Pol</li>
              <li data-value="Eng">Eng</li>
            </ul>
          </div>
          <img
            loading="lazy"
            class="language-change__image-row"
            src="/image/language-row.svg"
            alt="language-row"
          />
        </div>
        <div class="contacts-wrap">
          <a href="tel:+380989524273">
            <div class="contacts-wrap__button">
              <img
                loading="lazy"
                class="contacts-wrap__image-phone"
                src="/image/telephone.svg"
                alt="Telephone"
              />
              <p class="contacts-wrap__text"><%= mainPhones %></p>
            </div>
          </a>
        </div>
        <div id="menu" class="menu">
          <a href="#" class="menu__button">
            <span class="menuText">Меню</span>
          </a>
        </div>
      </div>
    </div>
    <div id="mobile-header" class="mobile-header">
      <div class="header-info">
        <div class="header-text">
          <ul>
            <a href="/routes" class="routes">Маршрути</a>
            <a href="/services" class="services">Послуги</a>
            <a href="/reach" class="howToGet">Як доїхати</a>
            <a href="/contacts" class="contacts">Контакти</a>
          </ul>
          <ul>
            <a href="/attractions" class="attractions"> Пам'ятки </a>
            <a href="/aboutUs" class="aboutUs"> Про нас </a>
            <a href="#" class="blogAndEvents"> Блог та події </a>
          </ul>
        </div>
        <div class="header-white-line"></div>
        <div class="header-navigation">
          <a href="tel:+380989524273">
            <div class="header-contacts__phone">
              <img src="/image/icon-footer-telephone.svg" alt="telephone" />
              <%= mainPhones %>
            </div>
          </a>
          <a href="mailto:<%= mainEmails %>">
            <div class="header-contacts__email">
              <img src="/image/icon-footer-mail.svg" alt="email" />
              <%= mainEmails %>
            </div>
          </a>
          <div class="header-social-networks">
            <a href="https://www.instagram.com/boykomandry/" target="_blank">
              <div class="header-social-networks__instagram">
                <img src="/image/icon-footer-instagram.svg" alt="inst-icon" />
              </div>
            </a>
            <a href="<%= facebooks %>A" target="_blank">
              <div class="header-social-networks__facebook">
                <img src="/image/icon-footer-facebook.svg" alt="facebook-icon" />
              </div>
            </a>
          </div>
          <div class="header-language-change">
            <img
              loading="lazy"
              class="header-language-change__image-earth"
              src="/image/Globe.svg"
              alt="earth"
            />
            <!-- <p class="header-language-change__layout">Ua</p> -->
            <div class="custom-select">
              <div class="select-trigger" style="font-family: Raleway; color: #fff">Ua</div>
              <ul class="select-options">
                <li data-value="Ua">Ua</li>
                <li data-value="Eng">Eng</li>
                <li data-value="Pol">Pol</li>
              </ul>
            </div>
            <img
              loading="lazy"
              class="language-change__image-row"
              src="/image/mobile-header-row.svg"
              alt="language-row"
            />
          </div>
        </div>
      </div>
      <div class="header-image-wrap">
        <div class="header-image">
          <a href="#" id="close-icon" class="close-icon">
            <img src="/image/x.svg" alt="x" />
          </a>
        </div>
      </div>
    </div>
  </header>

  <div class="page-navigation">
    <p class="page-navigation__main">
      <a class="NavMain" href="/">Головна</a>
    </p>
    <p class="page-navigation__row">></p>
    <p class="page-navigation__attractions">
      <a class="NavAttractions" href="/attractions">Пам'ятки Бойківщини</a>
    </p>
    <p class="page-navigation__row">></p>
    <p class="page-navigation__attraction">
      <a class="NavAttraction" href="/attraction"
        >Бункер командира українських повстанців Степана Стебельського “Хріна”</a
      >
    </p>
  </div>

  <body>
    <div class="container-attraction">
      <div class="container-attraction__title">
        <h1>Бункер командира українських повстанців Степана Стебельського “Хріна”</h1>
      </div>
      <div class="container-attraction__image">
        <img src="/image-page-routesChurch/khrin-image.webp" alt="Khryn" />
      </div>
      <div class="container-attraction__txt">
        “Хрін” – Степан Стебельський У часи Других визвольних змагань за Незалежність України,
        зокрема у 1944-49 рр., в цих краях воював легендарний командир 24-го Тактичного Відтинку
        "Маківка" групи УПА-Захід, Степан Стебельський ("Хрін"), один із засновників інженерних
        підрозділів УПА, керівник операції з ліквідації заступника міністра оборони Польщі,
        комуністичного генерала Кароля Сверчевського. У 1947 р. неподалік села Плоске був збудований
        бункер для зимування к-ра Хріна та ще 8 чоловік. Він був встановлений у дуже несподіваному
        місці, у лісі на поляні біля відкритого поля. Більшовики не здогадалися б ніколи про це
        місце, якби один полонений повстанець не зрадив. “Хрін” докладно описує вигляд бункера,
        внутрішнє начиння і тунель до потока, різні оригінальні технічні пристосування, зокрема для
        готування, зберігання продуктів, вмивання та інших побутових потреб, а також розповідає про
        спосіб замінування бункеру на випадок більшовицької облави. Розпорядок дня у бункері: “6
        год. – вставання, від 6-ї год. – руханка, миття та роблення порядків, 7.05 год. – молитва,
        7.15 – снідання, 8-12 – заняття, 12-14 – обідова перерва, 14-17 – пополудневі заняття, 17-18
        – вечеря, опісля чищення зброї, 20.05 – молитва. Плян праці ми часто зміняли, залежно від
        умов. Неділі і свята були вільні від занять”. “Під землею – в бункрі” Нарешті ми коло нашого
        бункру. Місце, в якому він побудований, незамітне. З чистого поля, зпід гори випливає
        потічок, що глибоким яром, зарослим густою грабиною і триметровими яличками, біжить
        стрімголов до головного потока, що пливе лісом. Довкола поляни відкрите поле. Кілька арів
        гущаку молодого ялиннику. Знайти нас тут ворогові буде важко. Ніхто й не подумав, що ми такі
        рисканти і вибрали собі таке місце. На карті потічок не зазначений, місце незамітне, але в
        разі всипи важко буде звідси вирватися живим. Іншого місця не було. Більші ліси, потоки та
        відповідні до того горби були вже пориті бункрами і криївками в минулих роках і майже всіх
        їх віднайшов ворог. — А тепер, друже командир, ходіть шукати бункер — каже віст. Буйний. Про
        місце бункру знав хор. Мирон, бо його вибирав. Розглядаюся і важко його знайти. Лише, коли
        побачив глину на вітках смерічок, я догадався, що бункер тут. Довкола земля замаскована,
        посипана шпильками з купин муравлів, понасаджувані ялички. Глини з бункру, щось два вагони,
        поносили стрільці до урвиська над потоком, замаскували, посадили деревця, ожинник і
        папороть. При тому треба вважати, щоб жовта глина не залишилася на покритому мохом, чорному
        камінні, щоб вода цю глину не підмулила, бо тоді в потоці залишився б слід. На бункрі з
        одного боку півтора, а з другого пів метра глини. Можна по ньому ходити, але дудніння не
        чути. В бункрі рух, приготовляються до звіту, почувши наш прихід. Відкриваємо віко у формі
        скриньки, що наложена глиною, з верху насаджена мохом. По сходах злазимо до входу, а відтак
        триметровим коридором до середини. Чотовий Пас складає звіт: — Друже командир, зголошую стан
        в бункрі — 6 людей. Все в порядку. З нашим приходом стан становитиме 9 людей. Мої вояки ст.
        віст. Островерх відійшов до бункру ройового Довбуша, ст. віст. Орел до бункру бунч. Чорного,
        віст. Луговий до бункру рой. Демона. * Входячи до бункру, я перехристився. Бункер для мене
        видавався живим гробом. Вперше в своєму житті йду зимувати під землю. Витаємо присутніх. Очі
        всіх звернені на нас з цікавістю, які новости ми принесли, які пригоди зустрічали нас в
        дорозі, з ким зустрічалися, чи впали які бункри, хто згинув, та що нового на світі. Ми були
        втомлені, бажали спочивати. Та чи можна спочивати тоді, коли всі друзі цікаві? І так питання
        за питаннями, завелась розмова аж до вечора. Бункер наш невеликий: довгий на 4 м, широкий на
        3 м, з одного боку високий на 2 і пів метра, з другого боку на півтори, так щоб стеля,
        покрита грубими дошками, мала спад для води. Стіни виложені сухими коленими бельками. Під
        вищою стіною поздовж стояла прича з дощок, яку ми накривали палатками. Під голову не було
        нічого, хіба п'ястук. Спання тверде, як за часів князя Мономаха. Воно було таке, щоб через
        сінники, подушки, солому, сіно — не множилися насікомі, звані «приятелями партизана», та щоб
        не було «національного тертя». Під приччю було складено бараболю, в невеликому мішку буряки,
        цибуля і часник. На одному кінці причі був побудований столик на писальну машину, званий
        нами «канцелярійний кутик». Щоб було ясніше світло, віст. Тетяна виліпила стіни білим
        папером. Вище на поличці стояла військова література, політичні книжки, папір, калька і
        тасьми до машини. Вздовж понад цілу причу була ще одна, головна полиця, на якій стрільці
        складали свої книжки, зшитки, приладдя особистого користування. Під полицею була ще одна
        поличка, а там всілякі речі, необхідні в партизанському зимовому житті, закуплені віст.
        Тетяною та придбані стрільцями. Там були: мило, нитки, ґудзики, голки, кілки, цвяшки, паста
        до зубів, паста до обуви, кольонська вода, порошок на насікомі, крем до голення, олівці,
        пера і невеличка аптечка, ґноти, скелка до лямпи. Цю лавочку ми назвали «кооператива
        Тетяни». Над причею стояв образ Божої Матері, прибраний вишиваним рушником і квітками з
        паперу, під ним Володимировий тризуб та портрет полк. Коновальця. В протилежному кутку від
        нашого «бюра» були скл адені мішки з житньою мукою, крупами, квасолею і бобом, а на верху
        стояли в мішках сухарі щоб не заплісніли. По другому, нижчому боці, біля входу, стояла
        кухня, вимурована з камінців з потока. Комин — це дві рури, які на поверхні були рівні з
        землею. При кінці вони дещо вужчі, щоб на випадок наскоку ворога він не міг кидати туди
        гранати. На день маскувалося рури мохом. Один метер від кухні була умивалька, в якій щоденно
        кожний стрілець мусів обов'язково митися зимною водою до поясу. До драгара були набиті
        цвяхи, що заступали вішак. Кожний стрілець мав свій цвях, на якому вішав шинелю, шапку і
        зброю. Над вішаком лежали щітки, мило, приділені для кожного часу, ми переконалися, що на
        місяць ми будемо без мила і пасти, а вони мусять вистачити нам до половини квітня. Коли
        розподілили між стрільців, кожний ощаджував і зуживав стільки, скільки йому було потрібно.
        Нижче вішака стояли два ведра на воду до пиття, одне на помиї. На долівці була підлога. Під
        підлогою — яма, в якій на випадок «попуску» буде збірник на воду. З протилежного від входу
        боку був підземний тунель на 20 м аж до потока. В потоці він був прикритий колодою. Там була
        криничка, звідки ми брали воду. В тому тунелі стояли бочілки з м'ясом. Бракувало тільки ще
        гідних бочок з товщем, солониною, медом і сиром, тоді був би в нас рай. На-жаль ми цього не
        мали. Кілька пляшок масла ми заховали на свята. Тунель потрібний нам на випадок наскоку
        ворога, коли він обстрілюватиме віко: декількох вискочить тоді до потока, викинуть декілька
        гранат, а коли всі вийдуть, — вогнем пробиватися. Звичайно, в такому наскоці половина
        повстанців гинула. При тому такий наслідок був тільки тоді, коли ворожа спеціяльна боївка
        припадково вийшла на бункер. Коли ж була точна „всипа," тоді звичайно з бункру ніхто не
        виходив живим. На середині бункру на дроті висіла лямпа. Заняття проводили стрільці на
        причі, сидячи на ковбицях. Для більшої вигоди, в кутку, де стояла мука, над причею для двох
        стрільців зроблено додатковий лежак в роді бойківської колиски з дощок, званий нами „банти".
        Там було тепло спати, натомість повітря було нездорове. Це було місце наших музикантів:
        віст. Вихора і віст. Сірого. Тому, що ми тримали стійку на верху, на бункрі, це вже не була
        криївка, а бункер під землею. Криївка є цілковито замаскована і з неї не виходиться майже
        через цілу зиму. У зв'язку з тим, що стійка стоїть на верху недалеко бункру, в недоступному
        гущаку ми збудували кльозет, де заразом скидали сміття і відпадки. Також недалеко бункру
        були закопані в землю бочки з м'ясом і капустою. На густій смерічці висіли замасковані кости
        і м'ясо, щоб завжди мати свіжий росіл. Бочка з нафтою була теж закопана в землю, нафту
        добували ми при допомозі вужика. На випадок наскоку ворога ніччю, або в день, коли б нам
        згинув стійковий, а ми про це не знали, і ворог до віка крикнув би нам: „бандіт, вихаді,
        здайсь, тебе ничего не будеть, вот смотрі какая твоя жизнь, какой хороший свет, тебе нада
        только жить", ми у відповідь на це — замінували себе полковими мінометними стрільнами.
        Робили ми це так: із стрільна викручували чопок, з другого стрільна набирали тол,
        розтоплювали його, доповняли ним перше стрільно, закладали запальник від натискової міни,
        дротом сполучували до бункру. Так замінували ми себе в чотирьох сторонах, п'яте стрільно
        повісили над бункером, на дереві. Робили це стрільці дуже обережно, тому що мінер може
        тільки раз вжитті помилитися. Дроти були проведені поверхнею землі, припняті гачками до
        землі, замасковані. На випадок наскоку ворога потягалося такий дріт, а стрільно 700-1000
        осколками нищило довкола все. Зазначую, що це ми могли практикувати тільки тоді, коли б ми
        мали ворога над віком. Можна було б користати з однієї міни, якщо ворог ішов би з одного
        напрямку. Але тоді ми всі мусіли б сидіти в бункрі, щоб осколки нас не ранили, і лише після
        вибуху — відступати. Це було однак, доволі рисковне, бо стрільно могло не вибухати, а тоді
        ворог прийшов би близько і завдав би нам великих втрат. * Стійковий в повному боєвому виряді
        і готовості зорив і наслухав. Він мав зголошувати постріли в лісі, брехіт собак, говорення,
        свист, підозрілі рубання сокирою, вйокання на коней, перекликуваная, будь-який тріскіт,
        шурготіння палатки і бренькоту зброї, верескливого крику сойк, крячок тощо. Все те могло б
        дати здогад, що ворог близько. На тривожні спостереження він нахилявся до віка, наслідуючи
        пташка, чичикав. На більш тривожні спостереження — легенько стукав до віка, а на алярм —
        дзвонив дзвінком, що був сполучений до нього дротом. Тоді його завданням було заняти
        становище і коли ворог ішов на бункер, відбивати його, щоб ми мали час забрати зброю,
        важливі матеріяли і вийти на бункер. Під час стійки не вільно з ніким розмовляти, курити,
        їсти, кашляти, чхати, голосно говорити, відкладати зброю, віддалюватитя від бункру понад 10
        м. Під час алярму з бункру всі виходять тихцем, бо буває так, що ворог пройде біля бункру на
        віддалі кільканадцять метрів і не запримітить стійкового. Буває і так, що запримітивши
        стійкового, ворог вдає, що його не бачить, а бункер обходить довколо. Часом прибіжить
        большевицький пес, забреше і дасть знак ворогові, або підбіжить, погляне, що це військові і
        піде далі. * Конспірація — запорука нашого існування і успіху. Тому постійно звертаємо на
        неї строгу увагу і то на кожному кроці і в кожній порі. Саме будування бункру, достава
        харчів та побут в лісі мусять відбуватися в дуже строгій конспірації. Стійковий напружено
        уважав, а другі будували. Дуже часто бувало так, що на таку роботу вийшли цивілі і тоді
        треба було її залишити. Нераз наскочив і ворог — тоді ситуація дуже грізна, бо стрільцям
        важко вискакувати з глибокої ями. Буває і так, що нераз перейде ворожий розвідчик, а навіть
        група большевиків, запримітять, де йде будова, зразу не наскакують. Аж коли стрільці
        замешкають, ніччю оточують, вранці викінчують. Буває, що ворог знає про місце криївки
        стрільців, на яких, скажім, йому менше залежить, тримає її аж до провесни, при тому
        провадить строгу розвідку, вичікуючи, чи до бункру прийде хтось важливіший. Коли так, тоді
        наскакують. Між большевиками є хвороба-орденоманія. Ось такий орденоман-оперативник нераз
        тримав винайдену криївку до пізньої зими, щоб повстанці ослабли, тоді наскакує, бо знає, що
        ніхто живим не вирветься. Тому що повстанці знаменито орієнтуються в ворожій тактиці, мають
        свою розвідку, при чому багато допомагає міліція — буває і так, що повстанці виходять з
        бункру, а ворог, наскочивши, кидає гранати по порожньої ями. Таких випадків було в нашій
        дійсності багато. Про це, звичайно, оперативник не згадує своєму зверхникові, бо був би
        строго покараний. Деколи буває і таке, що ворог знав про якийсь бункер і на нього не
        наскакує. Стрільці щасливо перезимувавши одну зиму, будують на другу зиму черговий бункер,
        ворог про це знає і теж не наскакує. Тоді повстанці приходять до переконання, що між ними є
        агенти. Завдання такого агента розвідати за сусідніми бункрами, за тим, куди йдуть харчі, на
        яку адресу, які харчі. Агент інформує ворога, що шукає за тими бункрами, а того, де
        знаходиться агент-внутренник, вперто не рушає. Достава харчів до нашого бункру йшла дуже
        конспіративно. Стрільці носили харчі на плечах із сусідніх сіл і нічого не брали з тих сіл,
        біля яких ми зимували. В період бункрування на зиму ворог рідше показується на селах, не
        робить облав на ліси, зате провадить дуже інтенсивну розвідку. Він висилає тоді „голодуючих
        бесарабців", перебраних большевиків, що крутяться днем і ніччю одинцем, чи маленькими
        групами по лісах та полях і наслухують, зорять, слідкують, хто звідки виходить, куди йде, що
        робить тощо. Прикладів на агентурну роботу можна знайти тисячі. Щоб це записати треба б
        посидіти над цим рік, якщо не більше. Над тим колись працюватимуть фахові люди. Вони
        матимуть велику кількість звітів, протоколів, а якщо це не збережеться, то остануть учасники
        визвольної боротьби і населення, яке про все розкаже. Це все знайдеться теж у ворожих
        архівах. Кожний наш знайдений бункер ворог докладно шкіцує, описує, як він побудований, в
        якому терені, як маскований. Довкола перекопує землю, щоб знайти архів. Докладно студіює
        нашу тактику на підставі свого досвіду, розвідчиків, сексотів і агентів-внутренників. Ворог
        за будь-яку ціну старається піймати повстанця живим. З цього він має багато користей.
        По-перше — дістане розвідку, який стан людей знаходиться в даному терені, хто керує, які
        нові інструкції, зарядження, зовнішній вигляд, зброя, псевда. Докладно студіює примінену
        нами тактику, наші прийоми боротьби, вивчає спосіб рейдування. Після переходів, стріч,
        зв'язків — збирає матеріяли про цивільне населення, яке співпрацює з повстанцями. По-друге —
        використовує арештованого страшними тортурами до провокації цивільного населення, як теж
        повстанців. Тим способом хоче ворог за будь-яку ціну відмежувати населення від нас,
        доводить, що кожний, хто попаде в їх руки, покаже, хто з цивільного населення з нами
        співпрацює. В той спосіб не тільки провокує, але і залякує. По-третє — це від'ємно впливає
        на повстанців, якщо хтось з них здався живим. Большевики деякий час з ним ходять,
        використовують, навіть поводяться з ним лагідно, дають зброю, а використавши, — ліквідують.
        Звичайно, після наскоку на бункер повстанців большевики перебираються групами по 2-3, ідуть
        по селах, просять людей, щоб їх переховували, бо їм впав бункер. При тій нагоді довідуються
        про все, що їм потрібно, про повстанців і населення. Одно із найважливіших завдань ворога,
        це розмежувати населення від повстанців. Він кидає всілякі провокації, щоб також в нас
        збудити підозріння до населення, а населення до нас. Щоб викликати наші підозріння до
        непевних чи підозрілих селян, або тих, хто з нами співпрацюють, ворог поширює вістки, що
        йому, н. пр., допомогли знайти бункер діти-пастухи, дівчата, чи господарі того, чи того
        села. Треба згадати, що наші пастухи, хоч це неорганізована молодь, своєю поставою до ворога
        і допомогою для нас дуже часто доказують чуда. Очевидно, що в цьому є передусім заслуга
        повстанців, які зуміли їх виховати. Ми можемо дуже часто почути в лісі, то пізною осінню, то
        вчасною весною, чи навіть влітку, як пастухи, побачивши большевиків, замаскованих в кущах
        біля партизанської стежки, кричать: «вовк, вовк на поляні!» і називають поляну чи ліс. Це
        передає пастух пастухові, це облітає ввесь ліс чи полонину і про це довідуються повстанці.
        Побачивши ворожі сліди, або довідавшись із села, що в напрямі лісу пішли большевики, пастухи
        навмисне ганяють худобою по лісі, щоб віднайти большевиків і щоб донести про це повстанцям.
        Большевики це розшифрували. Тому вони, коли має відбутися облава на ліс, не пускають
        пастухів. Коли є в лісі, криються перед пастухами, а коли зустрінуться з ними, затримують їх
        не раз до вечора. Пастушки дають також великий вклад в нашу боротьбу. Неодин з них згинув
        від ворожих куль, або врятував життя багатьом повстанцям.
      </div>
      <div class="container-attraction__imagePlusvideo">
        <div class="container-attraction__imagePlusvideo_image">
          <img src="/image-page-routesChurch/khrin-image-info.webp" alt="Khryn" />
        </div>
        <div class="container-attraction__imagePlusvideo_video">
          <img src="/image-page-routesChurch/khrin-image.webp" alt="Khryn" />
        </div>
      </div>
    </div>

    <footer>
      <div class="container-footer">
        <div class="animate-on-scroll">
          <div class="footer-content">
            <div class="footer-logos">
              <div class="footer-logos__main">
                <img src="/image/logo-footer.svg" alt="logo" />
              </div>
              <div class="footer-logos__main-info">
                <p class="footerMainTransalte">
                  БойкоМандри: туристичні маршрути Стрілківської громади
                </p>
              </div>
              <div class="footer-logos__partner-info">
                <p class="footerPartnerTransalte">
                  Проєкт реалізується за підтримки Українського культурного фонду та Стрілківської
                  сільської ради
                </p>
              </div>
              <div class="footer-logos__partner">
                <img src="/image/UCF-logo.svg" alt="logo" />
                <img src="/image/Strilku-logo.svg" alt="logo" />
              </div>
            </div>
            <div class="footer-navigation">
              <div class="footer-navigation__column1">
                <a href="/routes">
                  <p class="routes">Маршрути</p>
                </a>
                <a href="/services">
                  <p class="services">Послуги</p>
                </a>
                <a href="/reach">
                  <p class="howToGet">Як доїхати</p>
                </a>
                <a href="/contacts">
                  <p class="contacts">Контакти</p>
                </a>
              </div>
              <div class="footer-navigation__column2">
                <a href="/attractions">
                  <p class="attractions">Пам'ятки</p>
                </a>
                <a href="/aboutUs">
                  <p class="aboutUs">Про нас</p>
                </a>
                <a href="#">
                  <p class="blogAndEvents">Блог та події</p>
                </a>
              </div>
            </div>
            <div class="footer-contacts">
              <a href="tel:+380989524273">
                <div class="footer-contacts__phone">
                  <img src="/image/icon-footer-telephone.svg" alt="telephone" />
                  <%= mainPhones %>
                </div>
              </a>
              <a href="mailto:<%= mainEmails %>">
                <div class="footer-contacts__email">
                  <img src="/image/icon-footer-mail.svg" alt="email" />
                  <%= mainEmails %>
                </div>
              </a>
              <div class="footer-social-networks">
                <a href="https://www.instagram.com/boykomandry/" target="_blank">
                  <div class="footer-social-networks__instagram">
                    <img src="/image/icon-footer-instagram.svg" alt="inst-icon" />
                  </div>
                </a>
                <a href="<%= facebooks %>A" target="_blank">
                  <div class="footer-social-networks__facebook">
                    <img src="/image/icon-footer-facebook.svg" alt="facebook-icon" />
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="white-line"></div>
        <div class="footer-bottom">
          <div class="footer-bottom__laws">
            <p class="footerLawsTranslate">Усі права захищені</p>
          </div>
          <div class="footer-bottom__politic">
            <p class="footerPoliticTranslate">Політика конфіденційності</p>
          </div>
          <div class="footer-bottom__designer">
            <p class="footerDesignerTranslate">Дизайнер: Барабаш Анастасія</p>
          </div>
        </div>
      </div>
    </footer>
    <script src="/js/attraction.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/i18next@21.6.3/dist/umd/i18next.min.js"></script>
    <script src="/js/langChange.js"></script>
  </body>
</html>
