<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=1"
    />
    <link rel="stylesheet" href="/css/attractions.css" />
    <link rel="stylesheet" href="/views/css/menuadaptive.css">
    <link rel="shortcut icon" href="/image/logo-icon.png" type="image/x-icon" />
    <meta name="description" content="Безкоштовні туристичні маршрути горами Бойківщини" />
    <meta
      name="keywords"
      content="екотуризм, походи в гори, мандри, піший туризм, вело туризм , Бойківщина, Карпати, бойко мандри, бойкомандри, Бойкомандри, Бойко Мандри, БойкоМандри, піший маршрут, веломаршрут"
    />
    <title>БойкоМандри</title>
    <title>Безкоштовні туристичні маршрути горами Бойківщини</title>
  </head>

  <body>
    <header>
      <div id="container-header" class="container-header">
        <div class="logo">
          <a href="/"><img src="/image/logo.svg" alt="logo" /></a>
        </div>
        <div class="navigation">
          <div class="navigation__item">
            <ul>
              <a class="navigation__item__1" href="/routes">
                <li class="routes">Поїздки</li>
              </a>
              <a class="navigation__item__2" href="/services">
                <li class="services">Послуги</li>
              </a>
              <a class="navigation__item__3" href="/contacts">
                <li class="contacts">Контакти</li>
              </a>
            </ul>
          </div>
          <div class="language-change">
            <img
              loading="lazy"
              class="language-change__image-earth"
              src="/image/language.svg"
              alt="earth"
            />
            <!-- <p class="language-change__layout">Ua</p> -->
            <div class="custom-select">
              <div class="select-trigger"></div>
              <ul class="select-options">
                <li data-value="Ua">Ua</li>
                <li data-value="Pol">Pol</li>
                <li data-value="Eng">Eng</li>
              </ul>
            </div>
            <img
              loading="lazy"
              class="language-change__image-row"
              src="/image/language-row.svg"
              alt="language-row"
            />
          </div>
          <div class="contacts-wrap">
            <a href="tel:<%= mainPhones %>">
              <div class="contacts-wrap__button">
                <img
                  loading="lazy"
                  class="contacts-wrap__image-phone"
                  src="/image/telephone.svg"
                  alt="Telephone"
                />
                <p class="contacts-wrap__text"><%= mainPhones %></p>
              </div>
            </a>
          </div>
          <div id="menu" class="menu">
            <a href="#" class="menu__button">
              <span class="menuText">Меню</span>
            </a>
          </div>
        </div>
      </div>
      <div id="mobile-header" class="mobile-header">
        <div class="header-info">
          <div class="header-text">
            <ul>
              <a href="/routes" class="routes">Маршрути</a>
              <a href="/services" class="services">Послуги</a>
              <a href="/reach" class="howToGet">Як доїхати</a>
              <a href="/contacts" class="contacts">Контакти</a>
            </ul>
            <ul>
              <a href="/attractions" class="attractions"> Пам'ятки </a>
              <a href="/aboutUs" class="aboutUs"> Про нас </a>
              <a href="/events" class="blogAndEvents"> Блог та події </a>
            </ul>
          </div>
          <div class="header-white-line"></div>
          <div class="header-navigation">
            <a href="tel:<%= mainPhones %>">
              <div class="header-contacts__phone">
                <img src="/image/icon-footer-telephone.svg" alt="telephone" />
                <%= mainPhones %>
              </div>
            </a>
            <a href="mailto:<%= mainEmails %>">
              <div class="header-contacts__email">
                <img src="/image/icon-footer-mail.svg" alt="email" />
                <%= mainEmails %>
              </div>
            </a>
            <div class="header-social-networks">
              <a href="https://www.instagram.com/boykomandry/" target="_blank">
                <div class="header-social-networks__instagram">
                  <img src="/image/icon-footer-instagram.svg" alt="inst-icon" />
                </div>
              </a>
              <a href="<%= facebooks %>A" target="_blank">
                <div class="header-social-networks__facebook">
                  <img src="/image/icon-footer-facebook.svg" alt="facebook-icon" />
                </div>
              </a>
            </div>
            <div class="header-language-change">
              <img
                loading="lazy"
                class="header-language-change__image-earth"
                src="/image/Globe.svg"
                alt="earth"
              />
              <!-- <p class="header-language-change__layout">Ua</p> -->
              <div class="custom-select">
                <div class="select-trigger" style="font-family: Raleway; color: #fff">Ua</div>
                <ul class="select-options">
                  <li data-value="Ua">Ua</li>
                  <li data-value="Eng">Eng</li>
                  <li data-value="Pol">Pol</li>
                </ul>
              </div>
              <img
                loading="lazy"
                class="language-change__image-row"
                src="/image/mobile-header-row.svg"
                alt="language-row"
              />
            </div>
          </div>
        </div>
        <div class="header-image-wrap">
          <div class="header-image">
            <a href="#" id="close-icon" class="close-icon">
              <img src="/image/x.svg" alt="x" />
            </a>
          </div>
        </div>
      </div>
    </header>

    <div class="page-navigation">
      <p class="page-navigation__main">
        <a class="NavMain" href="/">Головна</a>
      </p>
      <p class="page-navigation__row">></p>
      <p class="page-navigation__attractions">
        <a class="NavAttractions" href="/attractions">Пам'ятки Бойківщини</a>
      </p>
    </div>

    <div class="attractionsContainer">
      <div class="animate-on-scroll">
        <div class="titleAttractions">
          <h1>Пам'ятки Бойківщини</h1>
        </div>
      </div>
      <div class="animate-on-scroll">
        <div class="attrectionsWrap">
          <div class="elementAttraction">
            <div class="elementAttraction__image">
              <img src="/image-page-attractions/church.webp" alt="church" />
            </div>
            <div class="elementAttraction__title">Церква Святої прп. Параскевії (Сербської)</div>
            <div class="elementAttraction__subtitle">
              Ця тризрубна триверха церква належить до найкращих зразків сакральних споруд
              бойківського типу Старосамбірщини. У ній ще...
            </div>
            <div class="elementAttraction__link">
              <a href="/attraction">
                <span>Читати далі</span>
                <img src="/image-page-attractions/row_link.svg" alt="row"
              /></a>
            </div>
          </div>
          <div class="elementAttraction">
            <div class="elementAttraction__image">
              <img src="/image-page-attraction/magura.webp" alt="church" />
            </div>
            <div class="elementAttraction__title">Вид на гору Маґура-Лімнянська</div>
            <div class="elementAttraction__subtitle">
              “Маґурою” в Карпатах називають гори з вершинами, що повністю вкриті лісом. Ця назва
              для гірських вершин дуже популярна. Лише в Українських Карпатах налічується
            </div>
            <div class="elementAttraction__link">
              <a href="/attractionMagura">
                <span>Читати далі</span>
                <img src="/image-page-attractions/row_link.svg" alt="row"
              /></a>
            </div>
          </div>
          <div class="elementAttraction">
            <div class="elementAttraction__image">
              <img src="/image-page-routesChurch/khrin-image.webp" alt="church" />
            </div>
            <div class="elementAttraction__title">
              Бункер командира українських повстанців Степана Стебельського “Хріна”
            </div>
            <div class="elementAttraction__subtitle">
              У часи Других визвольних змагань за Незалежність України, зокрема у 1944-49 рр., в цих
              краях воював легендарний командир 24-го Тактичного Відтинку "Маківка"
            </div>
            <div class="elementAttraction__link">
              <a href="/attractionKhryn">
                <span>Читати далі</span>
                <img src="/image-page-attractions/row_link.svg" alt="row"
              /></a>
            </div>
          </div>
          <div class="elementAttraction">
            <div class="elementAttraction__image">
              <img src="/image-page-routesChurch/mainPhoto.webp" alt="church" />
            </div>
            <div class="elementAttraction__title">
              Криївка в церкві Св. Архистратига Михаїла у Плоскім
            </div>
            <div class="elementAttraction__subtitle">
              Найдавніша збережена письмова згадка про церкву датується 1546 р. У 1681 р. за
              єпископа перемиського Інокентія Винницького на місці попередньої церкви збудували
              новий дерев’яний храм, який коштом громади відновили у 1804 р.
            </div>
            <div class="elementAttraction__link">
              <a href="/attractionChurchPloske">
                <span>Читати далі</span>
                <img src="/image-page-attractions/row_link.svg" alt="row"
              /></a>
            </div>
          </div>
          <div class="elementAttraction">
            <div class="elementAttraction__image">
              <img src="/image-page-attraction/OstroverhMainPhotoforAttraction.webp" alt="church" />
            </div>
            <div class="elementAttraction__title">Островерх” – Олекса Конопадський</div>
            <div class="elementAttraction__subtitle">
              У часи Других визвольних змагань на цих теренах воював підстаршина УПА, командир
              охорони командування ТВ-24 “Маківка” групи УПА-Захід, старший вістовий Олекса
              Конопадський (“Островерх”, “Тополя”).
            </div>
            <div class="elementAttraction__link">
              <a href="/attractionOstroverh">
                <span>Читати далі</span>
                <img src="/image-page-attractions/row_link.svg" alt="row"
              /></a>
            </div>
          </div>
          <div class="elementAttraction">
            <div class="elementAttraction__image">
              <img src="/image-page-routesChurch/kolubu.webp" alt="Kolubu" />
            </div>
            <div class="elementAttraction__title">Еко-табір «Мшанецькі Колиби»</div>
            <div class="elementAttraction__subtitle">
              Це соціальне підприємництво релігійної громади Різдва Пресвятої Богородиці УГКЦ с.
              Мшанець, засноване у 2019 р. Його мета: соціальний, духовний та економічний розвиток
              краю шляхом створення успішних й інноваційних проєктів у сфері туризму на основі
              бойківських традицій та християнських цінностей. Особливість цього соціального
              підприємництва полягає в тому, що воно є власністю місцевої парафіяльної громади, а
              дохід реінвестується або використовується на інші соціальні проєкти. Орієнтований на
              проведення літніх молодіжних таборів, християнських сарепт, військово-патріотичних
              вишколів, освітніх та мистецьких заходів. Став своєрідним “гірським хабом”, на
              платформі якого реалізуються різноманітні соціальні ініціативи: фестиваль “В гості до
              Бойків та о. Михайла Зубрицького”, щорічний благодійний ярмарок “Різдвяні смаколики із
              Мшанця”, туристичні проєкти “ФранкоМандри +” та “БойкоМандри”, гастро-історичний
              проєкт “Бойківська кухня”, проводяться реабілітаційні табори та вікенди для тих, хто
              постраждали від російського вторгнення в Україну тощо.
            </div>
            <div class="elementAttraction__link">
              <a href="/attractionKolubu">
                <span>Читати далі</span>
                <img src="/image-page-attractions/row_link.svg" alt="row"
              /></a>
            </div>
          </div>
          <div class="elementAttraction">
            <div class="elementAttraction__image">
              <img src="/image-page-attraction/nanashkova1.jpg" alt="church" />
            </div>
            <div class="elementAttraction__title">Нанашкова хата в Лопушанці-Хоминій</div>
            <div class="elementAttraction__subtitle">
              «Нанашкова хата» — класичний тип бойківської хати. Збудований в 1930 році. Особливістю автентичних будинків цього регіону є поєднання під одним дахом житлових і господарських приміщень. Одразу поруч з житловою кімнатою, коридором, який бойки називають сіньми, стодолою (боїще), розташований хлів (стайня). Є ще комора, загата, курник.
              У 2023 р. у цій етносадибі облаштували музей бойківського побуту, ремесел і старожитностей, проводять майстер-класи з народних ремесл. Це — приватна ініціатива місцевого подружжя підприємців Василя та Галини Курій. 
              Нариси з історії Лопушанки-Хоминої
              За переказами, у часи Київської Руси та Галицько-Волинського князівства на г. Патрія існувала охоронна вежа, з якої дружинники обмінювалися сигналами тривоги з вежами на інших вершинах. У той час у безпосередній близькості до цього місця пролягала одна із віток давнього торгового шляху «Руський путь». Перша збережена письмова згадка про село датується 16.04.1532 р., а про парафіяльний храм Св. Миколая — 18.08.1554 р. 
                          </div>
            <div class="elementAttraction__link">
              <a href="/attractionNanashkova">
                <span>Читати далі</span>
                <img src="/image-page-attractions/row_link.svg" alt="row"
              /></a>
            </div>
          </div>
          <div class="elementAttraction">
            <div class="elementAttraction__image">
              <img src="/image-page-attraction/yasenitsa.jpg" alt="church" />
            </div>
            <div class="elementAttraction__title">Дзвіниця церкви святого Архистратига Михаїла у Ясениці-Замковій</div>
            <div class="elementAttraction__subtitle">
              Ясениця-Замкова — давнє село, засноване в кінці XV ст. Перша збережена письмова згадка про церкву Св. Арх. Михаїла походить з податкового реєстру 1510 р. 
              Сучасна будівля зведена у 1903 р. в неоукраїнському стилі за проєктом відомого архітектора Василя Нагірного.
              Триярусна дзвіниця-каплиця 1730 р. — пам’ятка архітектури національного значення, включена в Державний реєстр культурного надбання (№ 1438/0). Представниця галицької архітектурної школи. Славиться гармонійністю своїх пропорцій. Завершується восьмигранним шатровим верхом. 
              На першому ярусі дзвіниці була комора, де зберігалося церковне начиння, старі ікони і мед з церковної пасіки. Сьогодні тут облаштований міні-музей народного побуту. На другому поверсі розташовувалася каплиця Покрову Пресвятої Богородиці. Сьогодні тут виставка вишитих ікон та хоругв та інших старовинних речей та церковного приладдя.
            </div>
            <div class="elementAttraction__link">
              <a href="/attractionYasenitsa">
                <span>Читати далі</span>
                <img src="/image-page-attractions/row_link.svg" alt="row"
              /></a>
            </div>
          </div>
          <div class="elementAttraction">
            <div class="elementAttraction__image">
              <img src="/image-page-attraction/volosyanka.jpg" alt="church" />
            </div>
            <div class="elementAttraction__title">Церква Св. Василія Великого (Святого Миколи) у Великій Волосянці</div>
            <div class="elementAttraction__subtitle">
              У 1577 р. в селі вже існувала церква Св. Миколи (дані з податкового реєстру Перемиської землі). 23.08.1666 р. вона отримала ерекційний акт від польського короля Яна Казимира. Ймовірно, тоді і постала в селі нова церква, до якої житель цього села Стас Василькович з дружиною Огафією подарували книгу «Ключ Разумінія» Йоаникія Галятовського, видану у Львові в друкарні Михайла Сльозки 1665 р., про що свічить вкладний напис: «Изволением Ѿца и сопоспѣшеніемъ Сна и соверьшенїем Стого Дха купил сию книгу ключ разумѣнїѩ за блгословеннемь господина Ѿца Іоана Волосѩского рабъ Стасъ Василковичъ с подружим свомъ Огафию за ѿпущеніе грѣхов своихъ и придалъ еи до церкви Стоѣ и же в сты ѿца Нашего Николаѩ до села Волосѩнки Великоѣ ... року бжго АХѮИ (1668) августа днѩ ЄІ (15)».
              Нову тризрубну церкву з трьома тризаломними верхами звели у 1723 р. Коли  її відновлювали у 1880-х рр., 100 золотих ринських на ремонт надав навіть імператор Австро-Угорщини Франц Йосиф І. Однак у 1900 р. церква повністю згоріла до тла. 
              У 1903 р. за ініціативи пароха о. Альбіна Добрянського на її місці збудовано теперішню дерев’яну, хрещату в плані церкву, увінчану наметовою банею на восьмерику середхрестя. Звели її за проєктом львівського архітектора Василя Нагірного брати-майстри Іван та Василь Васьківи з Долинського повіту.
            </div>
            <div class="elementAttraction__link">
              <a href="/attractionVolosynka">
                <span>Читати далі</span>
                <img src="/image-page-attractions/row_link.svg" alt="row"
              /></a>
            </div>
          </div>
          <div class="elementAttraction">
            <div class="elementAttraction__image">
              <img src="/image-page-attraction/Герб села Тур'є (2).png" alt="turie" />
            </div>
            <div class="elementAttraction__title">Село Тур’є: історія, легенди та особистості</div>
            <div class="elementAttraction__subtitle">
              Тур’є — давнє бойківське село, найдовше у Стрілківській громаді (площа 555 га, довжина всіх вулиць — 36 км). 
              Ще в часи Київської Руси тут було військове городище та сторожове поселення, яке захищало прадавній торговий шлях «Руський Путь». У селі збереглися сліди ранньоісторичних валів. Археологи знайшли тут давньоруський меч та інші речі. Перша збережена письмова згадка про село датується, за одними даними, 1345 роком, за іншими — 1473. 
              Тур’є складається з кількох хуторів, які утворюють три історичні частини: Тур’є Долішнє (Тур’є Нижнє), Тур’є Горішнє (Тур’є Вижнє) та Тур’є Заділок (Тур’є Заділ — найбільший хутір Старосамбірщини).
              Школа у Тур’є відкрилася ще у 60-х роках ХІХ ст., чи не найшвидше серед довколишніх сіл. У 1894 р. вже було дві школи з українською мовою викладання в Горішньому і Долішньому кінцях. В цей час в селі працювали урядова пошта, позичкова каса з капіталом 790 золотих ринських, та 9 тартаків (пилорам), які виготовляли 630 м. куб. дощок і брусів — значно більше, аніж у довколишніх селах. Міщани приїжджали влітку в Тур’є через вдале розташування села та кліматичні умови. 
              У 1937 р. у Тур’є-Горішньому для ведення національно-визвольної боротьби заснували руханково-пожарне товариство «Луг» (керівники: Василь Зеленяк, Василь Керт та о. Салтикевич). В тому ж році Василь Керч створив хату-читальню, де селяни навчались елементарних навичок письма та читання (вчитель — Василь Оленяк). 
              У часи Других визвольних змагань у Тур’є та довколишніх селах активно діяли групи УПА, зокрема про бої біля цього села згадує легендарний командир ТВ-24 «Маківка» Степан Стебельський «Хрін» та чотовий Олекса Конопадський «Островерх».
            </div>
            <div class="elementAttraction__link">
              <a href="/attractionTurie">
                <span>Читати далі</span>
                <img src="/image-page-attractions/row_link.svg" alt="row"
              /></a>
            </div>
          </div>
          <div class="elementAttraction">
            <div class="elementAttraction__image">
              <img src="/image-page-attraction/saintNikolas1.jpg" alt="church" />
            </div>
            <div class="elementAttraction__title">Церква Святого Миколи села Тур’є (Долішня) 1690 року</div>
            <div class="elementAttraction__subtitle">
              Це найстаріша церква Стрілківської громади, зведена ще у 1690 році. 
              Вже у 1507 р. у селі існувала парафіяльна церква, однак не збереглося жодних відомостей про її вигляд. Оскільки сучасна споруда дуже нагадує дрогобицьку церкву Св. Юра 1678 р., існує припущення, що її звів майстер з Дрогобича. Найдавнішній опис сучасної церкви належить візитатору, який відвідав Тур’є у 1766 р.: «Церква Св. Миколи з дерева різаного віддавна в цьому місці існує, але за чиїм дозволом і коштом виставлена невідомо. З трьома верхами і двома баньками над крилосами... Дзвіниця з дерева різаного, низом тертицями оббита, з верхом з трьома заломами…»
              У селі існує легенда про будову цієї церкви: «Пан не дозволяв на цьому пляці збудувати церкву, тому люди таємно в лісі підготували все, і коли настала слушна мить (пан поїхав з села у справах), селяни за ніч все перенесли і склали церкву». 
              Цю мальовничу церкву неодноразово зображувала на акварелях і лінориті на Різдвяні та Великодні свята українська художниця Олена Кульчицька у 1920-х роках. Під час Другої світової війни церква була пошкоджена, однак вже у 1945 році її відремонтували. В радянський час не була зачиненою.
              Іконостас у церкві походить з XVIII ст. (перемальований). Престіл із цільного дерева (пня), у середину якого вкручені мощі святих. Біля церкви знаходиться триаркова мурована дзвіниця-проїзд з XVIII ст. 
            </div>
            <div class="elementAttraction__link">
              <a href="/attractionSaintNikolas">
                <span>Читати далі</span>
                <img src="/image-page-attractions/row_link.svg" alt="row"
              /></a>
            </div>
          </div>
          <div class="elementAttraction">
            <div class="elementAttraction__image">
              <img src="/image-page-routesHeroes/station6Attrac1.jpg" alt="Ostroverh" />
            </div>
            <div class="elementAttraction__title">«Спомини чотового Островерха»: Великий з’їзд провідників ОУН, командирів УПА, делеґатів різних партій і вибір УГВР”.</div>
            <div class="elementAttraction__subtitle">
              З’їзд представників українського політичного світу зворушив наші серця до глибини. Мені випала честь бути в охороні з’їзду. Липень 1944 року. Недільнянські ліси стали свідком величавої події. На охорону з’їзду призначено сотні: «Булава», «Сурма», «Юнацьку сотню», дві сотні «Львів» та ряд боївок ОУН. 
              Моя чота мала заставу від села Лужка. Я з довіреними вояками доставляв харчі на місце, де відбувався збір. 
              Наші представники приїздили на станцію поїздом, автомашинами, підводами, а навіть прибували пішки. Зв’язкові теренової сітки перебирали їх, давали на зв’язкову лінію, ми перевіряли клички, доставляли їх до к-ра Микити, а він, перевіривши ще раз, передавав далі. Навколо стояли стійки і застави. Дороги були заміновані. Біля лісничівки стояла стійка, яка давала інформації новоприбулим та спрямовувала на місце нарад. Всі застави і стійки були пов’язані з головним к-ром варти телефонними лініями. Між різними командирами я бачив тут також пор. Кармелюка.
              Одного дня покликали мене, стрільців Вовура, Орла, Олеся, Местника (вони походили із Стрийщини) та інших, щоб ми пішли заспівати кілька повстанських пісень. Наш хор складався з добрих співаків. Нас перебрав провідник, досить високий, чорнявий, енерґійний. Це був Кубайчук.
              На лісничівці в одній кімнаті, в присутності багатьох представників, ми заспівали кілька повстанських пісень. Моє вояцьке око обсервувало докладно кожного, хто там був.
              Після нашого виступу нам гарно подякували, і ми відійшли до своєї сотні. Усі раділи, що разом з селянами і робітниками в дні революції йде наша інтеліґенція. Коли з’їзд закінчився, ми відійшли до села Тур’є. 
            </div>
            <div class="elementAttraction__link">
              <a href="/attractionSpominyOstroverh">
                <span>Читати далі</span>
                <img src="/image-page-attractions/row_link.svg" alt="row"
              /></a>
            </div>
          </div>
          <div class="elementAttraction additional-block">
            <div class="elementAttraction__image">
              <img src="/image-page-routesHeroes/station6Attrac2.jpg" alt="the tower" />
            </div>
            <div class="elementAttraction__title">Вежа пам'яті у Недільній</div>
            <div class="elementAttraction__subtitle">
              Це найвища дерев’яна вежа-дзвіниця України, висота якої складає 43 метри. Така висота невипадкова – вона символізує пам’ять про 43-х повстанців УПА, що загинули у 1943 році у бою з гітлерівцями (з протилежної сторони у тому бою загинули 256 ворогів, тож це був успішний бій для повстанців, але успіх цей – життя молодих свідомих хлопців). Розташована вежа-дзвіниця над братською могилою українських воїнів. Вінчає її хрест, що є найвисотнішим в Європі (гора Діл має висоту 907 метрів над рівнем моря).
              Вежа Пам’яті цікава не тільки як меморіал, але й як інженерна конструкція: збудована із товстих колод, оброблених спеціальним розчином. Можна вилізти на оглядовий майданчик і вдарити у Дзвін Пам’яті, розташований під необароковим куполом, і під звук дзвону споглядати на безмежні гірські пасма Львівської і Закарпатської областей, за які боролися і віддавали життя молоді хлопці у часі наших Других визвольних змагань.
              Через рік неподалік цього місця у лісі під охороною відділів УПА відбулися Установчі збори Української Головної Визвольної Ради. Збір прийняв Платформу і Тимчасовий устрій УГВР, Універсал до українського народу, а також присягу воїнів Української Повстанської Армії. 
              Неофіційно ці терени називають повстанською столицею України, оскільки у селах Недільна і Тур’є проживав із сім’єю керівник Україської головної визвольної ради – головного підпільного органу України, і звідси керував військовими операціями.
              У 1948 році комуністичні радянські лідери задля закріплення своєї влади над цими теренами виселили ціле село Недільна (понад 1000 осіб) у Сокальський район через активну партизанську діяльність та допомогу підпільникам УПА. Та бойки поступово повернулися, хоч і далеко не всі (сьогодні населення складає 197 осіб). І найперше, що вони зробили по поверненню в рідне село, – побудували у 1956 році Каплицю Св. Миколая. Нагадаємо, що в цей час тут панувала атеїстична комуністична влада!
              Тож запрошуємо вас у мандрівку в це дивовижне село Недільна та на унікальну Вежу Пам’яті, яку ще романтично називають українською Ейфелевою Вежою.
            </div>
            <div class="elementAttraction__link">
              <a href="/attractionTheTowerOfMemory">
                <span>Читати далі</span>
                <img src="/image-page-attractions/row_link.svg" alt="row"
              /></a>
            </div>
          </div>
          <div class="elementAttraction additional-block">
            <div class="elementAttraction__image">
              <img src="/image-page-attractions/church.webp" alt="church" />
            </div>
            <div class="elementAttraction__title">Церква Святої прп. Параскевії (Сербської)</div>
            <div class="elementAttraction__subtitle">
              Ця тризрубна триверха церква належить до найкращих зразків сакральних споруд
              бойківського типу Старосамбірщини. У ній ще...
            </div>
            <div class="elementAttraction__link">
              <a href="/attraction">
                <span>Читати далі</span>
                <img src="/image-page-attractions/row_link.svg" alt="row"
              /></a>
            </div>
          </div>
        </div>
      </div>
      <div class="animate-on-scroll">
        <button class="loadMore" id="loadMoreBtn" onclick="loadMoreBlocks()">
          <p>Загрузити ще</p>
          <img src="/image-page-attractions/row_load.svg" alt="row" id="loadMoreIcon" />
        </button>
      </div>
    </div>

    <footer>
      <div class="container-footer">
        <div class="animate-on-scroll">
          <div class="footer-content">
            <div class="footer-logos">
              <div class="footer-logos__main">
                <img src="/image/logo-footer.svg" alt="logo" />
              </div>
              <div class="footer-logos__main-info">
                <p class="footerMainTransalte">
                  БойкоМандри: туристичні маршрути Стрілківської громади
                </p>
              </div>
              <div class="footer-logos__partner-info">
                <p class="footerPartnerTransalte">
                  Проєкт реалізується за підтримки Українського культурного фонду та Стрілківської
                  сільської ради
                </p>
              </div>
              <div class="footer-logos__partner">
                <img src="/image/UCF-logo.svg" alt="logo" />
                <img src="/image/Strilku-logo.svg" alt="logo" />
              </div>
            </div>
            <div class="footer-navigation">
              <div class="footer-navigation__column1">
                <a href="/routes">
                  <p class="routes">Маршрути</p>
                </a>
                <a href="/services">
                  <p class="services">Послуги</p>
                </a>
                <a href="/reach">
                  <p class="howToGet">Як доїхати</p>
                </a>
                <a href="/contacts">
                  <p class="contacts">Контакти</p>
                </a>
              </div>
              <div class="footer-navigation__column2">
                <a href="/attractions">
                  <p class="attractions">Пам'ятки</p>
                </a>
                <a href="/aboutUs">
                  <p class="aboutUs">Про нас</p>
                </a>
                <a href="/events">
                  <p class="blogAndEvents">Блог та події</p>
                </a>
              </div>
            </div>
            <div class="footer-contacts">
              <a href="tel:<%= mainPhones %>">
                <div class="footer-contacts__phone">
                  <img src="/image/icon-footer-telephone.svg" alt="telephone" />
                  <%= mainPhones %>
                </div>
              </a>
              <a href="mailto:<%= mainEmails %>">
                <div class="footer-contacts__email">
                  <img src="/image/icon-footer-mail.svg" alt="email" />
                  <%= mainEmails %>
                </div>
              </a>
              <div class="footer-social-networks">
                <a href="https://www.instagram.com/boykomandry/" target="_blank">
                  <div class="footer-social-networks__instagram">
                    <img src="/image/icon-footer-instagram.svg" alt="inst-icon" />
                  </div>
                </a>
                <a href="<%= facebooks %>A" target="_blank">
                  <div class="footer-social-networks__facebook">
                    <img src="/image/icon-footer-facebook.svg" alt="facebook-icon" />
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="white-line"></div>
        <div class="footer-bottom">
          <div class="footer-bottom__laws">
            <p class="footerLawsTranslate">Усі права захищені</p>
          </div>
          <div class="footer-bottom__politic">
            <p class="footerPoliticTranslate">Політика конфіденційності</p>
          </div>
          <div class="footer-bottom__designer">
            <p class="footerDesignerTranslate">Дизайнер: Барабаш Анастасія</p>
          </div>
        </div>
      </div>
    </footer>
    <script src="/js/attractions.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/i18next@21.6.3/dist/umd/i18next.min.js"></script>
    <script src="/js/langChange.js"></script>
  </body>
</html>
