<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=1"
    />
    <link rel="shortcut icon" href="/image/logo-icon.png" type="image/x-icon" />
    <link rel="canonical" href="https://www.boykomandry.com/" />
    <link rel="stylesheet" href="/views/css/events.css" />
    <link rel="stylesheet" href="/views/css/menuadaptive.css">
    <meta name="description" content="Безкоштовні туристичні маршрути горами Бойківщини" />
    <meta
      name="keywords"
      content="екотуризм, походи в гори, мандри, піший туризм, вело туризм , Бойківщина, Карпати, бойко мандри, бойкомандри, Бойкомандри, Бойко Мандри, БойкоМандри, піший маршрут, веломаршрут"
    />
    <title>БойкоМандри</title>
    <title>Безкоштовні туристичні маршрути горами Бойківщини</title>
  </head>

<body>
    <header>
      <div id="container-header" class="container-header">
        <div class="logo">
          <a href="/"><img src="/image/logo.svg" alt="logo" /></a>
        </div>
        <div class="navigation">
          <div class="navigation__item">
            <ul>
              <a class="navigation__item__1" href="/routes">
                <li class="routes">Маршрути</li>
              </a>
              <a class="navigation__item__2" href="/services">
                <li class="services">Послуги</li>
              </a>
              <a class="navigation__item__3" href="/contacts">
                <li class="contacts">Контакти</li>
              </a>
            </ul>
          </div>
          <div class="language-change">
            <img
              loading="lazy"
              class="language-change__image-earth"
              src="/image/language.svg"
              alt="earth"
            />
            <!-- <p class="language-change__layout">Ua</p> -->
            <div class="custom-select">
              <div class="select-trigger"></div>
              <ul class="select-options">
                <li data-value="Ua">Ua</li>
                <li data-value="Pol">Pol</li>
                <li data-value="Eng">Eng</li>
              </ul>
            </div>
            <img
              loading="lazy"
              class="language-change__image-row"
              src="/image/language-row.svg"
              alt="language-row"
            />
          </div>
          <div class="contacts-wrap">
            <a href="tel:<%= mainPhones %>">
              <div class="contacts-wrap__button">
                <img
                  loading="lazy"
                  class="contacts-wrap__image-phone"
                  src="/image/telephone.svg"
                  alt="Telephone"
                />
                <p class="contacts-wrap__text"><%= mainPhones %></p>
              </div>
            </a>
          </div>
          <div id="menu" class="menu">
            <a href="#" class="menu__button">
              <span class="menuText">Меню</span>
            </a>
          </div>
        </div>
      </div>
      <div id="mobile-header" class="mobile-header">
        <div class="header-info">
          <div class="header-text">
            <ul>
              <a href="/routes" class="routes">Маршрути</a>
              <a href="/services" class="services">Послуги</a>
              <a href="/reach" class="howToGet">Як доїхати</a>
              <a href="/contacts" class="contacts">Контакти</a>
            </ul>
            <ul>
              <a href="/attractions" class="attractions"> Пам'ятки </a>
              <a href="/aboutUs" class="aboutUs"> Про нас </a>
              <a href="/events" class="blogAndEvents"> Блог та події </a>
            </ul>
          </div>
          <div class="header-white-line"></div>
          <div class="header-navigation">
            <a href="tel:<%= mainPhones %>">
              <div class="header-contacts__phone">
                <img src="/image/icon-footer-telephone.svg" alt="telephone" />
                <%= mainPhones %>
              </div>
            </a>
            <a href="mailto:<%= mainEmails %>">
              <div class="header-contacts__email">
                <img src="/image/icon-footer-mail.svg" alt="email" />
                <%= mainEmails %>
              </div>
            </a>
            <div class="header-social-networks">
              <a href="https://www.instagram.com/boykomandry/" target="_blank">
                <div class="header-social-networks__instagram">
                  <img src="/image/icon-footer-instagram.svg" alt="inst-icon" />
                </div>
              </a>
              <a href="<%= facebooks %>A" target="_blank">
                <div class="header-social-networks__facebook">
                  <img src="/image/icon-footer-facebook.svg" alt="facebook-icon" />
                </div>
              </a>
            </div>
            <div class="header-language-change">
              <img
                loading="lazy"
                class="header-language-change__image-earth"
                src="/image/Globe.svg"
                alt="earth"
              />
              <!-- <p class="header-language-change__layout">Ua</p> -->
              <div class="custom-select">
                <div class="select-trigger" style="font-family: Raleway; color: #fff">Ua</div>
                <ul class="select-options">
                  <li data-value="Ua">Ua</li>
                  <li data-value="Eng">Eng</li>
                  <li data-value="Pol">Pol</li>
                </ul>
              </div>
              <img
                loading="lazy"
                class="language-change__image-row"
                src="/image/mobile-header-row.svg"
                alt="language-row"
              />
            </div>
          </div>
        </div>
        <div class="header-image-wrap">
          <div class="header-image">
            <a href="#" id="close-icon" class="close-icon">
              <img src="/image/x.svg" alt="x" />
            </a>
          </div>
        </div>
      </div>
    </header>
    <div class="page-navigation">
      <p class="page-navigation__main">
        <a class="NavMain" href="/">Головна</a>
      </p>
      <p class="page-navigation__row">></p>
      <p class="page-navigation__routes">
        <a class="NavBlog" href="/events">Блог</a>
      </p>
    </div>

<!-- -------------------------------------------------------- -->
<div class="blogContainer">
    <div class="animate-on-scroll">
      <div class="titleBlog">
        <h1>Блог та події</h1>
      </div>
    </div>
    <div class="animate-on-scroll">
      <div class="blogWrap">
        <%if (events.length> 0) { %> <% events.forEach((event) => { %>
        <div class="elementBlog">
          <div class="elementBlog__image">
            <img class="eventImage" src="<%= event.img %>" alt="Event Image"/>
          </div>
          <div class="elementBlog__title"><h2><%= event.title %></h2></div>
          <div class="elementBlog__subtitle">
            <p><%= event.description %></p>
          </div>
          <div class="elementBlog__link">
            <button onclick="window.location.href='<%=base_url%>/events/<%= event.id %>'">Читати далі <img src="/image-page-attractions/row_link.svg" alt="row"> </button>
            <span class="dateBlog"><%= event.date %></span>
          </div>
        </div>
        <% }) %> <% } else { %>
            <p>Подій не знайдено</p>
            <% } %>
      </div>
    </div>
  </div>
<!-- -------------------------------------------------------- -->

<footer>
    <div class="container-footer">
      <div class="animate-on-scroll">
        <div class="footer-content">
          <div class="footer-logos">
            <div class="footer-logos__main">
              <img src="/image/logo-footer.svg" alt="logo" />
            </div>
            <div class="footer-logos__main-info">
              <p class="footerMainTransalte">
                БойкоМандри: туристичні маршрути Стрілківської громади
              </p>
            </div>
            <div class="footer-logos__partner-info">
              <p class="footerPartnerTransalte">
                Проєкт реалізується за підтримки Українського культурного фонду та Стрілківської
                сільської ради
              </p>
            </div>
            <div class="footer-logos__partner">
              <img src="/image/UCF-logo.svg" alt="logo" />
              <img src="/image/Strilku-logo.svg" alt="logo" />
            </div>
          </div>
          <div class="footer-navigation">
            <div class="footer-navigation__column1">
              <a href="/routes">
                <p class="routes">Маршрути</p>
              </a>
              <a href="/services">
                <p class="services">Послуги</p>
              </a>
              <a href="/reach">
                <p class="howToGet">Як доїхати</p>
              </a>
              <a href="/contacts">
                <p class="contacts">Контакти</p>
              </a>
            </div>
            <div class="footer-navigation__column2">
              <a href="/attractions">
                <p class="attractions">Пам'ятки</p>
              </a>
              <a href="/aboutUs">
                <p class="aboutUs">Про нас</p>
              </a>
              <a href="/events">
                <p class="blogAndEvents">Блог та події</p>
              </a>
            </div>
          </div>
          <div class="footer-contacts">
            <a href="tel:<%= mainPhones %>">
              <div class="footer-contacts__phone">
                <img src="/image/icon-footer-telephone.svg" alt="telephone" />
                <%= mainPhones %>
              </div>
            </a>
            <a href="mailto:<%= mainEmails %>">
              <div class="footer-contacts__email">
                <img src="/image/icon-footer-mail.svg" alt="email" />
                <%= mainEmails %>
              </div>
            </a>
            <div class="footer-social-networks">
              <a href="https://www.instagram.com/boykomandry/" target="_blank">
                <div class="footer-social-networks__instagram">
                  <img src="/image/icon-footer-instagram.svg" alt="inst-icon" />
                </div>
              </a>
              <a href="<%= facebooks %>A" target="_blank">
                <div class="footer-social-networks__facebook">
                  <img src="/image/icon-footer-facebook.svg" alt="facebook-icon" />
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="white-line"></div>
      <div class="footer-bottom">
        <div class="footer-bottom__laws">
          <p class="footerLawsTranslate">Усі права захищені</p>
        </div>
        <div class="footer-bottom__politic">
          <p class="footerPoliticTranslate">Політика конфіденційності</p>
        </div>
        <div class="footer-bottom__designer">
          <p class="footerDesignerTranslate">Дизайнер: Барабаш Анастасія</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- <script src="/js/routesChurch.js"></script> -->
  <script src="/js/events.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/i18next@21.6.3/dist/umd/i18next.min.js"></script>
  <script src="/js/langChange.js"></script>
</body>
</html>
