<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=1"
    />
    <link rel="shortcut icon" href="/image/logo-icon.png" type="image/x-icon" />
    <link rel="canonical" href="https://www.boykomandry.com/" />
    <link rel="stylesheet" href="/css/routesMIN.css" />
    <meta name="description" content="Безкоштовні туристичні маршрути горами Бойківщини" />
    <meta
      name="keywords"
      content="екотуризм, походи в гори, мандри, піший туризм, вело туризм , історія, Бойківщина, Карпати, кемпінг, еко-табір, колиби, піший маршрут, веломаршрут, бойківський"
    />
    <title>БойкоМандри</title>
  </head>

  <body>
    <header>
      <div id="container-header" class="container-header">
        <div class="logo">
          <a href="index.html"><img src="/image/logo.svg" alt="logo" /></a>
        </div>
        <div class="navigation">
          <div class="navigation__item">
            <ul>
              <a class="navigation__item__1" href="routes.html">
                <li class="routes">Маршрути</li>
              </a>
              <a class="navigation__item__2" href="/services.html">
                <li class="services">Послуги</li>
              </a>
              <a class="navigation__item__3" href="/contacts.html">
                <li class="contacts">Контакти</li>
              </a>
            </ul>
          </div>
          <div class="language-change">
            <img
              loading="lazy"
              class="language-change__image-earth"
              src="/image/language.svg"
              alt="earth"
            />
            <!-- <p class="language-change__layout">Ua</p> -->
            <div class="custom-select">
              <div class="select-trigger"></div>
              <ul class="select-options">
                <li data-value="Ua">Ua</li>
                <li data-value="Pol">Pol</li>
                <li data-value="Eng">Eng</li>
              </ul>
            </div>
            <img
              loading="lazy"
              class="language-change__image-row"
              src="/image/language-row.svg"
              alt="language-row"
            />
          </div>
          <div class="contacts-wrap">
            <a href="tel:+380989524273">
              <div class="contacts-wrap__button">
                <img
                  loading="lazy"
                  class="contacts-wrap__image-phone"
                  src="/image/telephone.svg"
                  alt="Telephone"
                />
                <p class="contacts-wrap__text"><%= mainPhones %></p>
              </div>
            </a>
          </div>
          <div id="menu" class="menu">
            <a href="#" class="menu__button">
              <span class="menuText">Меню</span>
            </a>
          </div>
        </div>
      </div>
      <div id="mobile-header" class="mobile-header">
        <div class="header-info">
          <div class="header-text">
            <ul>
              <a href="/routes.html" class="routes">Маршрути</a>
              <a href="/services.html" class="services">Послуги</a>
              <a href="/reach.html" class="howToGet">Як доїхати</a>
              <a href="/contacts.html" class="contacts">Контакти</a>
            </ul>
            <ul>
              <a href="/attractions.html" class="attractions"> Пам'ятки </a>
              <a href="/aboutUs.html" class="aboutUs"> Про нас </a>
              <a href="#" class="blogAndEvents"> Блог та події </a>
            </ul>
          </div>
          <div class="header-white-line"></div>
          <div class="header-navigation">
            <a href="tel:+380989524273">
              <div class="header-contacts__phone">
                <img src="/image/icon-footer-telephone.svg" alt="telephone" />
                <%= mainPhones %>
              </div>
            </a>
            <a href="mailto:<%= mainEmails %>">
              <div class="header-contacts__email">
                <img src="/image/icon-footer-mail.svg" alt="email" />
                <%= mainEmails %>
              </div>
            </a>
            <div class="header-social-networks">
              <a href="https://www.instagram.com/boykomandry/" target="_blank">
                <div class="header-social-networks__instagram">
                  <img src="/image/icon-footer-instagram.svg" alt="inst-icon" />
                </div>
              </a>
              <a
                href="https://www.facebook.com/profile.php?id=61550602395011&locale=uk_UA"
                target="_blank"
              >
                <div class="header-social-networks__facebook">
                  <img src="/image/icon-footer-facebook.svg" alt="facebook-icon" />
                </div>
              </a>
            </div>
            <div class="header-language-change">
              <img
                loading="lazy"
                class="header-language-change__image-earth"
                src="/image/Globe.svg"
                alt="earth"
              />
              <!-- <p class="header-language-change__layout">Ua</p> -->
              <div class="custom-select">
                <div class="select-trigger" style="font-family: Raleway; color: #fff">Ua</div>
                <ul class="select-options">
                  <li data-value="Ua">Ua</li>
                  <li data-value="Eng">Eng</li>
                  <li data-value="Pol">Pol</li>
                </ul>
              </div>
              <img
                loading="lazy"
                class="language-change__image-row"
                src="/image/mobile-header-row.svg"
                alt="language-row"
              />
            </div>
          </div>
        </div>
        <div class="header-image-wrap">
          <div class="header-image">
            <a href="#" id="close-icon" class="close-icon">
              <img src="/image/x.svg" alt="x" />
            </a>
          </div>
        </div>
      </div>
    </header>

    <div class="page-navigation">
      <p class="page-navigation__main">
        <a class="NavMain" href="index.html">Головна</a>
      </p>
      <p class="page-navigation__row">></p>
      <p class="page-navigation__routes">
        <a class="NavRoutes" href="routes.html">Маршрути</a>
      </p>
    </div>

    <div class="container-routes">
      <div class="routes-wrap">
        <img loading="lazy" src="/image/routes-row-top.svg" alt="row" />
        <div class="animate-on-scroll">
          <div class="routes-wrap__title-wrap">
            <div class="routes-wrap__title-wrap_accent">
              <p class="routesTitleTranslate">Бойко Мандри — це</p>
            </div>
            <div class="routes-wrap__title-wrap_title">
              <p class="routesSubtitleTranslate">Три безкоштовні маршрути горами</p>
            </div>
          </div>
        </div>
      </div>
      <div class="route-versions-wrap">
        <div class="route-versions">
          <div class="animate-on-scroll">
            <div class="route-versions__1">
              <div class="route-versions__1_title">
                <div class="routes1-info-wrap">
                  <div class="routes1-info-wrap__level">
                    <p class="levelTranslate1">майже легкий</p>
                  </div>
                  <div class="routes1-info-wrap__distance">
                    <p class="distanceTranslate1">19 км</p>
                  </div>
                  <div class="routes1-info-wrap__height">
                    <img loading="lazy" src="/image/routes-mountain.svg" alt="mountain" />
                    <p class="heightTranslate1">пік — 954 м</p>
                  </div>
                </div>
                <div class="rotes1-title-wrap">
                  <div class="routes1-title">
                    <p class="routes1-title__accent">
                      <span class="route1NumTranslate">Маршрут 1</span>
                    </p>
                    <p class="route1Translate">До криївки в церкві</p>
                  </div>
                  <div class="routes1-subtitle">
                    <p class="route1SubtitleTranslate">
                      Погойдатись на карпатській гойдалці, смачно поїсти, знайти криївку в церкві і
                      переночувати у справжніх колибах!
                    </p>
                  </div>
                </div>
                <div class="routes1-button-wrap">
                  <div class="routes1-button">
                    <a href="/routesChurch.html">
                      <p>
                        <span class="routesButton">Дізнатись більше</span
                        ><img loading="lazy" src="/image/routes-row-button.svg" alt="button_row" />
                      </p>
                    </a>
                  </div>
                </div>
              </div>
              <div class="routes1-img">
                <img loading="lazy" src="/image-page-routesChurch/mainPhoto.webp" alt="route1" />
              </div>
            </div>
          </div>
          <div class="animate-on-scroll">
            <div class="route-versions__2">
              <div class="route-versions__2_title">
                <div class="routes2-info-wrap">
                  <div class="routes2-info-wrap__level">
                    <p class="levelTranslate2">для активних</p>
                  </div>
                  <div class="routes2-info-wrap__distance">
                    <p class="distanceTranslate2">25 км</p>
                  </div>
                  <div class="routes2-info-wrap__height">
                    <img loading="lazy" src="/image/routes-mountain.svg" alt="mountain" />
                    <p class="heightTranslate2">пік — 779 м</p>
                  </div>
                </div>
                <div class="rotes2-title-wrap">
                  <div class="routes2-title">
                    <p class="routes2-title__accent">
                      <span class="route2NumTranslate">Маршрут 2</span>
                    </p>
                    <p class="route2Translate">Святині і герої</p>
                  </div>
                  <div class="routes2-subtitle">
                    <p class="route2SubtitleTranslate">
                      Доторкнутися до історії, відчути подих сакральних перлин бойківської
                      архітектури, зануритися у вир повстанської боротьби і вдарити у висотний дзвін
                      пам'яті.
                    </p>
                  </div>
                </div>
                <div class="routes2-button-wrap">
                  <div class="routes2-button">
                    <a href="/routesHeroes.html">
                      <p>
                        <span class="routesButton">Дізнатись більше</span
                        ><img src="/image/routes-row-button.svg" alt="button_row" />
                      </p>
                    </a>
                  </div>
                </div>
              </div>
              <div class="routes2-img">
                <img loading="lazy" src="/image/Nedilna.webp" alt="Nedilna" />
              </div>
            </div>
          </div>
          <div class="animate-on-scroll">
            <div class="route-versions__3">
              <div class="route-versions__3_title">
                <div class="routes3-info-wrap">
                  <div class="routes3-info-wrap__level">
                    <p class="levelTranslate3">для найактивніших</p>
                  </div>
                  <div class="routes3-info-wrap__distance">
                    <p class="distanceTranslate3">25 км</p>
                  </div>
                  <div class="routes3-info-wrap__height">
                    <img loading="lazy" src="/image/routes-mountain.svg" alt="mountain" />
                    <p class="heightTranslate3">пік — 664 м</p>
                  </div>
                </div>
                <div class="rotes3-title-wrap">
                  <div class="routes3-title">
                    <p class="routes3-title__accent">
                      <span class="route3NumTranslate">Маршрут 3</span>
                    </p>
                    <p class="route3Translate">Бойківський майдан</p>
                  </div>
                  <div class="routes3-subtitle">
                    <p class="route3SubtitleTranslate">
                      Історія дороги... Історія боротьби за дорогу... Історія громадянського
                      суспільства...
                    </p>
                  </div>
                </div>
                <div class="routes3-button-wrap">
                  <div class="routes3-button">
                    <a href="/routesMaydan.html">
                      <p>
                        <span class="routesButton">Дізнатись більше</span
                        ><img loading="lazy" src="/image/routes-row-button.svg" alt="button_row" />
                      </p>
                    </a>
                  </div>
                </div>
              </div>
              <div class="routes3-img">
                <img loading="lazy" src="/image/Magura.webp" alt="Magura" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-hire">
      <div class="container-hire-wrapper">
        <div class="container-hire-wrap">
          <!-- <img src="/image/tents.png" alt="tents"> -->
          <div class="hire-background">
            <div class="title-hire-wrap">
              <div class="titleBG">
                <h2 class="blackLetter">Бойко Мандри:</h2>
                <span class="greenLetter">зелений туризм </span>
              </div>
              <div>
                <p class="SubHireRoutes">
                  Зелений туризм — це відпочинок, який дозволить насолодитися краєвидами Бойківщини,
                  скуштувати натуральну їжу, потрапити в атмосферу, що зарядить енергією, а також
                  більше познайомитися з місцевою культурою.
                </p>
              </div>
            </div>
          </div>
          <div class="hire-image">
            <img src="/image-page-routes/green-tourism.webp" alt="bicycle" />
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="container-footer">
        <div class="animate-on-scroll">
          <div class="footer-content">
            <div class="footer-logos">
              <div class="footer-logos__main">
                <img src="/image/logo-footer.svg" alt="logo" />
              </div>
              <div class="footer-logos__main-info">
                <p class="footerMainTransalte">
                  БойкоМандри: туристичні маршрути Стрілківської громади
                </p>
              </div>
              <div class="footer-logos__partner-info">
                <p class="footerPartnerTransalte">
                  Проєкт реалізується за підтримки Українського культурного фонду та Стрілківської
                  сільської ради
                </p>
              </div>
              <div class="footer-logos__partner">
                <img src="/image/UCF-logo.svg" alt="logo" />
                <img src="/image/Strilku-logo.svg" alt="logo" />
              </div>
            </div>
            <div class="footer-navigation">
              <div class="footer-navigation__column1">
                <a href="routes.html">
                  <p class="routes">Маршрути</p>
                </a>
                <a href="/services.html">
                  <p class="services">Послуги</p>
                </a>
                <a href="/reach.html">
                  <p class="howToGet">Як доїхати</p>
                </a>
                <a href="/contacts.html">
                  <p class="contacts">Контакти</p>
                </a>
              </div>
              <div class="footer-navigation__column2">
                <a href="/attractions.html">
                  <p class="attractions">Пам'ятки</p>
                </a>
                <a href="/aboutUs.html">
                  <p class="aboutUs">Про нас</p>
                </a>
                <a href="#">
                  <p class="blogAndEvents">Блог та події</p>
                </a>
              </div>
            </div>
            <div class="footer-contacts">
              <a href="tel:+380989524273">
                <div class="footer-contacts__phone">
                  <img src="/image/icon-footer-telephone.svg" alt="telephone" />
                  <%= mainPhones %>
                </div>
              </a>
              <a href="mailto:<%= mainEmails %>">
                <div class="footer-contacts__email">
                  <img src="/image/icon-footer-mail.svg" alt="email" />
                  <%= mainEmails %>
                </div>
              </a>
              <div class="footer-social-networks">
                <a href="https://www.instagram.com/boykomandry/" target="_blank">
                  <div class="footer-social-networks__instagram">
                    <img src="/image/icon-footer-instagram.svg" alt="inst-icon" />
                  </div>
                </a>
                <a
                  href="https://www.facebook.com/profile.php?id=61550602395011&locale=uk_UA"
                  target="_blank"
                >
                  <div class="footer-social-networks__facebook">
                    <img src="/image/icon-footer-facebook.svg" alt="facebook-icon" />
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="white-line"></div>
        <div class="footer-bottom">
          <div class="footer-bottom__laws">
            <p class="footerLawsTranslate">Усі права захищені</p>
          </div>
          <div class="footer-bottom__politic">
            <p class="footerPoliticTranslate">Політика конфіденційності</p>
          </div>
          <div class="footer-bottom__designer">
            <p class="footerDesignerTranslate">Дизайнер: Барабаш Анастасія</p>
          </div>
        </div>
      </div>
    </footer>
    <script src="/js/routes.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/i18next@21.6.3/dist/umd/i18next.min.js"></script>
    <script src="/js/langChange.js" defer></script>
    <!-- Додайте це в вашому HTML-файлі -->
  </body>
</html>
